{
  "env": {
    "development": {
      "plugins": "jest-hoist",
      "presets": [
        ["env",
          {
            "targets": {
              "node": "current"
            }
          }],
        "jest"
      ]
    }
  },
  "presets": [
    "es2015"
  ]
}
