{
  "env": {
    "development": {
      "plugins": [
        "jest-hoist",
        "transform-react-jsx"
      ],
      "presets": [
        ["env",
          {
            "targets": {
              "node": "current"
            }
          }],
        "jest"
      ]
    },
    "production": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
